.wrapper {
    display: flex;

    width: 83%;
    min-width: var(--container-width);
    max-width: var(--max-container-width);
    height: 100%;
}
.wrapper > * {
    transition: filter 0.3s ease 0s;
    filter: opacity(0);

    animation: appear 1s ease forwards;
}

.contentWrapper {
    margin-top: 65px;
    margin-left: 20px;

    width: 950px;
    min-width: 950px;
    height: 550px;
    min-height: 550px;
}

.contentWrapper > * {
    filter: opacity(0);

    animation: appear 0.3s ease forwards;
}

@keyframes appear {
    from {
        filter: opacity(0);
    }

    to {
        filter: opacity(1);
    }
}