.wrapper {
    display: flex;

    --border-radius: 15px;

    width: 100%;
    height: 100%;

    border-radius: var(--border-radius);

    background: var(--background);
    border: var(--border);
}

.friendList{
    display: flex;
    flex-direction: column;

    width: 34%;
    height: 100%;

    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-right: var(--border);
}
.search {
    display: flex;
    align-items: center;

    gap: 13px;
    padding: 0 3%;

    width: 100%;
    min-height: 50px;
    height: 50px;

    border-bottom: var(--border);
    border-radius: var(--border-radius) 0 0 0;
    color: var(--font-color);
}
.search input {
    height: 100%;
    background: transparent;
    outline: none;
    border: none;

    color: var(--font-color);
    font-family: var(--sans);
}
.search input::placeholder {
    color: var(--font-color);
}
.search span {
    cursor: pointer;
    transition: all 0.2s ease 0s;
    transform: scale(0.9);
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 200,
            'opsz' 48
}
.search span:hover {
    color: var(--icons-hover);
}

.overFlow {
    display:flex;
    align-items: center;
    padding-left: 5%;

    gap: 15px;
    width: 100%;
    height: 50px;
    min-height: 50px;

    border-radius: 0 0 0 var(--border-radius);
    border-top: var(--border);

    color: white;
    font-family: var(--sans);
    font-size: 13px;
}

.friends {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;

    flex-grow: 1;

    width: 100%;
}
.friends::-webkit-scrollbar {
    width: 3px;
}
.friends::-webkit-scrollbar-thumb {
    background: var(--scroll);

    border-radius: 20px;
}

.messageArea {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;

    width: 65%;
    height: 100%;
}