.wrapper {
    position: relative;

    display: flex;
    align-items: center;

    width: 85%;
    height: 10%;

    min-height: 50px;
}

.wrapper input {
    padding-left: 15%;
    padding-right: 9%;

    width: 100%;
    height: 100%;

    outline: none;
    border: none;

    background: var(--background-lighter);
    color: var(--button-color);
    border-radius: 100px;

    font-size: calc(12px + 0.2vw);
    font-family: var(--sans);

    transition: all 0.3s ease 0s;
}
.wrapper input::placeholder {
    color: var(--icons-hover);
}
.wrapper input:focus {
    background: var(--theme-color);

    box-shadow: var(--input-shadow);
}
.padding {
    padding-right: 18% !important;
}

.wrapper span {
    position: absolute;
    color: var(--button-color);

    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 400,
            'opsz' 48;
}
.wrapper > *:nth-child(1) {
    left: 4.5%;
}
.wrapper > span:nth-child(3) {
    right: 5%;

    cursor: pointer;

    transition: all 0.3s ease 0s;
}
.wrapper > span:nth-child(3):hover {
    transform: scale(1.2);
}

.error {
    position: absolute;
    bottom: -5%;
    left: 8%;

    transform: translateY(100%);

    width: 70%;

    white-space: nowrap;
    font-size: calc(14px - 0.1vw);

    transition: all 0.3s ease 0s;

    filter: opacity(1);

    color: red;
}
.hidden {
    filter: opacity(0);
}