.submitButton {
    align-self: center;

    width: 85%;
    min-height: 50px;
    height: calc(45px + 1vw);

    border-radius: 100px;

    background: var(--button-color);
    border: 1px solid transparent;

    font-size: calc(14px + 0.3vw);
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--theme-color);

    cursor: pointer;
    user-select: none;
}
.submitButton:active {
    background: var(--button-active);

    border: 3px solid var(--button-color);
}