@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

     font-family: sans-serif;
 }

 #root {
     --roboto: 'Roboto', sans-serif;
     --sans: 'Open Sans', sans-serif;
     --poppins: 'Poppins', sans-serif;

     --grayIcon: #747c88;

     --gradColor1: #E70F5E;
     --gradColor2: #B35AC3;
     --gradColor3: #148AE3;
     --gradient: linear-gradient(45deg, var(--gradColor1),var(--gradColor2),var(--gradColor3));
 }